{erl_opts, [no_debug_info]}.
{deps, [
    {memoizer, ".*", {git, "https://github.com/ZoltanLajosKis/erl-memoizer"}}
]}.

{escript_incl_apps, [adventofcode2023]}.
{escript_main_app, adventofcode2023}.
{escript_name, adventofcode2023}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.
